.codelite
.build-debug
*.workspace
Makefile

backups
copy.txt

*~
*/*~
*/*/*~
*/*/*/*~

main_backup/Debug
main_backup/main_backup.mk
main_backup/main_backup.project
main_backup/main_backup.txt

tests/Debug
tests/tests.mk
tests/tests.project
tests/tests.txt
tests/lib

back_my_files/Debug
back_my_files/back_my_files.mk
back_my_files/back_my_files.project
back_my_files/back_my_files.txt